.action-btn{
    width: calc(25vw - 21px);
    margin: 8px;
    height: 65px;
    border-radius: 10px;
    background-color: #fafafa;
    color: #234779;
    border: 1px #245498 solid;
    outline:none;
}