<!-- 
  img
  title
  time
  book tickets
 -->
<div class="carousel" *ngIf="chatbotService.carousels.length > 0">
    <img class="carousel-img" src="{{chatbotService.carousels[currentSelectedCarousel].imgUrl}}" alt="">
    <p class="carousel-title">{{chatbotService.carousels[currentSelectedCarousel].title}}</p>
    <p class="carousel-time">{{chatbotService.carousels[currentSelectedCarousel].subtitle}}</p>
    <!-- <div>{{carousel.text}}</div> -->
    <button class="carousel-btnPrevious" *ngIf="chatbotService.carousels.length > 1" [disabled]="currentSelectedCarousel == 0" (click)="previousClicked()">previous</button>
    <button class="carousel-btnBuy" (click)="btnBuyClicked(chatbotService.carousels[currentSelectedCarousel].btnUrl)">buy it now!</button>
    <button class="carousel-btnNext" *ngIf="chatbotService.carousels.length > 1" [disabled]="currentSelectedCarousel == chatbotService.carousels.length -1" (click)="nextClicked()">next</button>
</div>
